<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- for progress bar, can (and should) change later -->
  <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.7.0/dist/progressbar.js"></script>
  
  <link rel="stylesheet" href="stylesheet.css">
  <title>Deep Tweeting - Sentiment Analysis</title>
</head>