<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
  <div class="container">
    <section class="header">
      <h2 class="title">Deep Tweeting: a sentiment analysis tool for Tweets</h2>
    </section>
    <section class="model">
      <div class="six columns">
        <div class="sentiment">
          <form id="sentiment-form">
            <div class="row">
              <label for="getSentiment">get sentiment score for a Tweet</label>
              <textarea class="u-full-width" type="text" placeholder="Input: your Tweet!" id="getSentiment" name="tweet"></textarea>
            </div>
            <div class="row">
              <button class="button-primary" id="getSentimentBtn">get Sentiment</button>
              <div class="loader collapse" id="sentiment-loader"></div>
            </div>
          </form>
        </div>
      </div>
      <div class="six columns">
        <div class="sentiment-score u-full-width">
          <div id="container"></div>
        </div>
        <div class="score-discuss">
          <div class="collapse" id="positive-note">
            your inputted Tweet has a positive sentiment &#x1F605; 
          </div>
          <div class="collapse" id="negative-note">
            your inputted Tweet has a negative sentiment &#x1F613; 
          </div>
          <div class="score collapse" id='acc'>confidence: <span id="score"></span>%</div>
        </div>
      </div>
    </section>
  </div>
  <div class="footer">
    <a class="github-button" href="https://github.com/wkantaros/twitter-sentiment-analysis" data-icon="octicon-star"
      aria-label="Star wkantaros/twitter-sentiment-analysis on GitHub">Star</a>
    <script src="getSentiment.js"></script>
  </div>
</body>

</html>